  body{
    background-color:palevioletred ;
} 

#cv-form {
    /* display: none; */
}
#cv-template{
    display:none;
}

.myimg{
    /* border: 1px solid red; */
    box-sizing: 40%; 
    width: 200px;
}

.background{
    background-color: pink;
}


